*{
    margin:0;
    padding:0;  
}

html{    
    height: 100%;    
    background-image: url("../_img/background.png");    
}

body, #mainWrapper{    
    height: 100%;
    width: 100%;
    
}



#res{
    position: absolute;
    z-index: 99999;
}
.res1{        
    background-color:brown;
    color: white;
    float: left;    
}



