.grid_col75{
    float: left;
    width: 75%;
    
}
.grid_col50{
    float: left;
    width: 50%;
    
}
.grid_col25{
    float: left;
    width: 25%;
    
}
.grid_col100{
    float: left;
    text-align: center;
    width: 100%;
    
    
    
    
}
.icon{
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: aqua;
    float: left;
}
